html, body {
    margin: 0;
    padding: 45px;
    width: auto;
    height: 100%;
    background: #82D5F0;
    border: 12px double black;
}

h1{
  font-family: 'Shrikhand', cursive;
  font-size: 40pt;
  text-align: center;
}

nav {
    max-height: 150px;
    max-width: 38px;
    position: fixed;
    top: 200px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

h5 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav img {
    width: 100%;
    height: auto;
}
form {
margin: 60px 0 0 0 !important;
}

.ui-slider .ui-btn-inner {
padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
position: absolute !important;
width: 64px;
height: 64px;
text-align: center;
font-size: 36px;
padding-top: 14px;
z-index: 100;
opacity: 0.8;
}

#getPreferences{
    text-align: center;
    font-size: 20pt;
}

#colorMin{
    display: inline-block;
    margin: 5%;

}
#colorMax{
    display: inline-block;
    margin: 5%;
}
#abvMin{
    display: inline-block;
    margin: 5%;
}
#abvMax{
    display: inline-block;
    margin: 5%;
}
#bitterMin{
    display: inline-block;
    margin: 5%;
}
#bitterMax{
    display: inline-block;
    margin: 5%;
}
