html, body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    background: #82D5F0;
}

h1{
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 30pt;
}

nav {
    max-height: 150px;
    max-width: 38px;
    position: fixed;
    top: 200px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

h5 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav img {
    width: 100%;
    height: auto;
}
form {
margin: 60px 0 0 0 !important;
}

.ui-slider .ui-btn-inner {
padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
position: absolute !important;
width: 64px;
height: 64px;
text-align: center;
font-size: 36px;
padding-top: 14px;
z-index: 100;
opacity: 0.8;
}

#getPreferences{
    text-align: center;


}

#colorMin{
    display: inline-block;
}
#colorMax{
    display: inline-block;
}
#abvMin{
    display: inline-block;
}
#abvMax{
    display: inline-block;
}
#bitterMin{
    display: inline-block;
}
#bitterMax{
    display: inline-block;
}




 /* test for buttons */
/*  */
/*  */
/* .switch {
    position: relative;
    width: 14rem;
    padding: 0 1rem;
    font-family: verdana;
    &:before {
      content: '  ';
      position: absolute;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 3rem;
      background: #000;
      border-radius: 30px;
    }
    &__label {
      display: inline-block;
      width: 2rem;
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      transition: color 200ms ease-out;
      &:hover {
        color: white;
      }
    }
    &__indicator {
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: -.5rem;
      left: 0;
      background: blue;
      border-radius: 50%;
      transition: transform 600ms cubic-bezier(.02,.94,.09,.97),
                  background 300ms cubic-bezier(.17,.67,.14,1.03);
      transform: translate3d(1rem,0,0);
    }
  
    input#one:checked ~ .switch__indicator {
      background: PaleGreen;
      transform: translate3d(1.2rem,0,0);
    }
    input#two:checked ~ .switch__indicator {
      background: MediumTurquoise;
      transform: translate3d(5.5rem,0,0);
    }
    input#three:checked ~ .switch__indicator {
      background: PaleVioletRed;
      transform: translate3d(10.6rem,0,0);
    }
    input[type="radio"] {
      &:not(:checked),
      &:checked {
        display: none;
      }
    }
  }
   */
  /* // Just for styling */
/*   
  body{
    background: #333;  
    color: #999;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -9rem;
    margin-top:-3rem;
  } */
  
/*  */
  /*  */