@font-face{
    font-family: 'BellBottom';
    src: url('../assets/BellBottom.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    background: #82D5F0;
}

#pref{
    background-color: #E5DAD8;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 90%;
    margin: auto;

}

#pref p{
    width: 14%;
}

/* Hey Morgan! just added this for the preferences display. I shouldn't mess with anything, but feel free to delete it if it does */
.preference {
    text-align: right;
}
.range {
    text-align: left;
}

#mainBeer{
    margin: 0 auto;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#mainBeer img{
    height:
}

#mainBeer div{
    width: 30%;
    height: 85%;
    font-size: 20pt;
    margin: 1em 0;
    border: 1px solid black;
    padding: 5px;
}

#button{
    font-family: 'Baloo Bhaijaan', cursive;
    /* background-color:#E5DAD8; */
    width: 20%;
    height: 30px;
    /* border: solid black 1px; */
    margin: auto;
    padding: 0.2em;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

h2{
    text-align: center;
    margin: 0;
}

#bottomBeer{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10em auto;
}

#bottomBeer div{
     width: 30%;
    height: auto;
}

h3{
    text-align: center;
}

h1{
       text-align: center;
    font-family: 'BellBottom';
    color: white;
    text-shadow: -10px 10px 0px rgba(255, 0, 0, 1), 
                 -20px 20px 0px rgba(255, 89, 0, .75),
                 -30px 30px 0px rgba(255, 145, 0, .25),
                 -40px 40px 0px rgba(255, 210, 0, .5);
    font-size: 70pt;
}

nav {
    max-height: 150px;
    max-width: 38px;
    position: fixed;
    top: 200px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

h5 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav img {
    width: 100%;
    height: auto;
}